:root {
  --main-color: #212121;
  --background: #ffffff;
  --secondary-text: #757575;
  --color-active: #2196f3;
  --color-logo: #000000;
  --bacground-button: #f5f4fa;
  --background-footer: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --background-hero: #c4c4c4;
  --social-color: #afb1b8;
  --hero-active-button: #188ce8;
  --border-clients: #afb1b8;
  --email-color: rgba(255, 255, 255, 0.6);
  --background-icon-footer: rgba(255, 255, 255, 0.1);
  --portfolio-text-background: rgba(33, 150, 243, 0.9);
  --portfolio-card-border: #eeeeee;
  --header-line: #ececec;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --border-form-field: rgba(33, 33, 33, 0.2);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --border-close-button: rgba(0, 0, 0, 0.1);
  --what-we-do-background: rgba(47, 48, 58, 0.8);
  --text-weight: 500;
}

h1,
h2,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li,
ul,
ol,
a {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ======= main styles ======== */
body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--background);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 450px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 738px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
}

.container--header {
  position: relative;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container--header {
    min-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container--header {
    min-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header {
  border-bottom: 1px solid var(--header-line);
}

/* ========= logo ========================== */
@media screen and (max-width: 767px) {
  .logo {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 26px;
    margin-bottom: 26px;
  }
}

.logo__first,
.logo__second {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .logo__first,
  .logo__second {
    font-size: 24px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1200px) {
  .logo__first,
  .logo__second {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__first {
  color: var(--color-active);
}

.logo__second {
  color: var(--color-logo);
}

/* =========== Contacts ============ */
.contacts-list {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .contacts-list {
    font-size: 12px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 15px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-list__icon-envelope, .contacts-list__icon-smartphone {
  display: inline-block;
  margin-right: 10px;
  fill: var(--secondary-text);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-list__link {
  color: var(--secondary-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--color-active);
}

.contacts-list__link:hover .contacts-list__icon-envelope,
.contacts-list__link:focus .contacts-list__icon-envelope,
.contacts-list__link:hover .contacts-list__icon-smartphone,
.contacts-list__link:focus .contacts-list__icon-smartphone {
  fill: var(--color-active);
}

/* ======== Navigation ========================== */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-list {
    min-width: 294px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin-left: 88px;
    margin-right: 84px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .nav-list__item {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list__link--active {
  color: var(--color-active);
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .nav-list__link--active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 4px;
    background-color: var(--color-active);
    border-radius: 2px;
  }
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--color-active);
}

.nav__button {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  top: 10px;
  right: 15px;
  z-index: 10;
}

.nav__menu:hover, .nav__menu:focus {
  fill: var(--color-active);
}

.nav__cross:hover, .nav__cross:focus {
  fill: var(--color-active);
}

.nav__button .nav__cross {
  display: none;
}

.nav__button.nav-is-open .nav__cross {
  display: block;
}

.nav__button.nav-is-open .nav__menu {
  display: none;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 48px 40px;
  height: 796px;
  background-color: var(--background);
  z-index: 3;
}

.mobile-menu.nav-is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .nav__button {
    display: none;
  }
}

.mob-nav {
  margin-bottom: 302px;
}

.mob-nav-list__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mob-nav-list__link:hover, .mob-nav-list__link:focus {
  color: var(--color-active);
}

.mob-nav-list__link--active {
  color: var(--color-active);
}

.mob-contacts-list {
  margin-bottom: 64px;
}

.mob-contacts-list__link {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--color-active);
  display: block;
}

.mob-contacts-list__link--email {
  color: var(--secondary-text);
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.mob-nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-social__item:not(:last-child) {
  margin-right: 20px;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-active);
}

/* ========== Hero ============ */
.hero {
  background-color: var(--background-hero);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/hero-img.jpg);
  background-image: linear-gradient(to right, var(--hero-gradient), var(--hero-gradient)), url(../images/hero-img.jpg);
  background-position: center;
  background-size: cover;
}

.hero__title {
  padding-top: 118px;
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    display: block;
    margin-bottom: 30px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
  }
}

/* ======== about ============== */
@media screen and (max-width: 1199px) {
  .about {
    margin: 60px 0;
  }
}

@media (min-width: 767px) and (max-width: 1199px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.about__icon {
  background-color: var(--bacground-button);
  text-align: center;
  padding: 25px 0;
  max-height: 120px;
}

.about__title {
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .about__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    margin-top: 94px;
    margin-bottom: 0;
  }
}

.about__text {
  color: var(--secondary-text);
}

.about__title {
  display: block;
  font-weight: bold;
  line-height: 1.14;
}

@media screen and (min-width: 1200px) {
  .about__icon {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .about__item {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .about__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

/* ========== what-we-do ========= */
@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

.what-we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 94px;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .what-we-do-list {
    display: none;
  }
}

.what-we-do-list__img {
  background-color: var(--what-we-do-background);
  height: 100%;
}

.what-we-do-list__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-list__text {
  display: block;
  position: absolute;
  bottom: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background);
  background-color: var(--what-we-do-background);
  width: 370px;
}

.what-we-do__title {
  padding-bottom: 50px;
  padding-top: 94px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* ----------------- Our Team ------------- */
.team {
  background-color: var(--bacground-button);
  padding-bottom: 60px;
}

.team__title {
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    line-height: 1.179;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    padding-bottom: 50px;
    padding-top: 94px;
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-cards {
  background: var(--background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-cards__title, .team-cards__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-cards__title {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.team-cards__text {
  padding-bottom: 16px;
  color: var(--secondary-text);
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    max-width: 354px;
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

/* ----------- Social - list ------------ */
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  margin-right: 32px;
  margin-left: 32px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--social-color);
  border-radius: 50%;
  border: 0px solid transparent;
  -webkit-transition-property: fill, background-color, border;
  transition-property: fill, background-color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  fill: var(--background);
  background-color: var(--color-active);
  border-radius: 50%;
  border: 1px solid transparent;
}

/* ============== clients =========== */
@media screen and (max-width: 1199px) {
  .clients {
    padding: 60px 0;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    padding-bottom: 94px;
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--border-clients);
  border-radius: 4px;
  fill: var(--social-color);
  -webkit-transition-property: fill border-color;
  transition-property: fill border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients-list__link {
    padding: 16px 52px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    padding: 16px 32px;
    width: 170px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link:hover,
.clients-list__link:focus {
  fill: var(--color-active);
  border: 1px solid var(--color-active);
}

.clients__title {
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.179;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    padding-top: 94px;
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    margin: 15px;
    width: calc((100% - 6 * 15px) / 3);
  }
}

/* ======= Footer =============================== */
@media screen and (max-width: 767px) {
  .address {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  background-color: var(--background-footer);
}

@media screen and (min-width: 1200px) {
  .footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.logo__footer {
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;
  margin-top: 0;
}

.logo__first--footer {
  color: var(--color-active);
}

.logo__second--footer,
.address {
  color: var(--background);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .address-list {
    padding-bottom: 60px;
    width: 231px;
  }
}

.address-list__item:not(:last-child) {
  margin-bottom: 4px;
}

.address-list__link--contacts, .address-list__link--address {
  font-style: normal;
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 1.71;
}

.address-list__link--address {
  color: var(--background);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet-foter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-foter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* ======footer join ========= */
@media screen and (max-width: 767px) {
  .social {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    margin-left: 70px;
    margin-bottom: 100px;
  }
}

.social__title {
  font-size: 14px;
  margin-bottom: 18px;
  color: var(--background);
  display: block;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social__title {
    margin-top: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .social__title {
    margin-top: 72px;
  }
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0;
  padding: 0;
}

.join-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 0px solid transparent;
  fill: var(--background);
  background: var(--background-icon-footer);
  padding-bottom: 0;
  -webkit-transition-property: fill, background-color, border;
  transition-property: fill, background-color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list__link:hover, .join-list__link:focus {
  fill: var(--background);
  background-color: var(--color-active);
  border-radius: 50%;
  border: 1px solid transparent;
}

.join-list__item:not(:last-child) {
  margin-right: 10px;
}

/* ---------------email-footer---------------  */
.form {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .form {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 93px;
  }
}

.email__label {
  display: block;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  color: var(--background);
  margin-bottom: 20px;
  font-size: 14px;
}

@media screen and (max-width: 1199px) {
  .email__label {
    text-align: center;
  }
}

.email__input {
  height: 50px;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--email-color);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .email__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .email__input {
    width: 358px;
    margin-right: 12px;
  }
}

.email__input:focus {
  outline: none;
}

/* ------------ Buttons -------- */
.buttons {
  display: inline-block;
  background-color: var(--bacground-button);
  color: var(--main-color);
  cursor: pointer;
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-color: transparent;
}

.buttons:hover, .buttons:focus {
  background-color: var(--color-active);
  color: var(--background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition-property: background-color box-shadow;
  transition-property: background-color box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons--hero,
.email-button,
.modal-button {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background);
  background-color: var(--color-active);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 200px;
}

.buttons--hero {
  margin-bottom: 118px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}

@media screen and (min-width: 1200px) {
  .buttons--hero {
    margin-bottom: 200px;
  }
}

.email-button,
.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.email-button__label {
  margin-right: 10px;
}

.email-button__icon {
  fill: var(--background);
}

.buttons--hero:hover,
.buttons--hero:focus,
.email-button:hover,
.email-button:focus,
.modal-button:hover,
.modal-button:focus {
  background-color: var(--hero-active-button);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .email-button {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* =============== modal ================== */
.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--background);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 1199px) {
  .modal {
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
}

.close-button {
  display: block;
  padding: 7px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid var(--border-close-button);
  border-radius: 50%;
  background-color: var(--background);
  cursor: pointer;
}

.close-button__icon,
.checkbox-policy__icon {
  display: block;
  fill: var(--color-logo);
}

/* ---- Form modal-window styles ---- */
.form-container {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.form-container__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.form-field,
.comment-field,
.policy-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.comment-field {
  margin-bottom: 20px;
}

.policy-field {
  margin-bottom: 30px;
}

.policy-field__label {
  position: relative;
  padding-left: 36px;
  color: var(--secondary-text);
  cursor: pointer;
}

.policy-field__link {
  color: var(--color-active);
  text-decoration: underline;
}

.form-field__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--secondary-text);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--main-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .icon-form {
  fill: var(--color-active);
}

.comment-field__input,
.form-field__input {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--border-form-field);
  border-radius: 4px;
  outline: 0;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .form-field__input {
    padding-left: 42px;
    max-height: 40px;
  }
}

.form-field__input:focus {
  outline-color: 1px solid var(--color-active);
  border: 1px solid var(--color-active);
}

.comment-field__input {
  resize: none;
  height: 120px;
}

.comment-field__input:focus {
  outline-color: 1px solid var(--color-active);
  border: 1px solid var(--color-active);
}

.checkbox-policy {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  height: 15px;
  width: 16px;
  background-color: var(--background);
  border: 2px solid var(--main-color);
  border-radius: 4px;
  outline: none;
}

.policy-field__input--custom:checked ~ .checkbox-policy {
  background-color: var(--color-active);
  background-origin: border-box;
  border-color: var(--color-active);
}

.policy-field__input--custom:focus ~ .checkbox-policy {
  border: 2px solid var(--color-active);
}

.policy-field__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* ======= projects-list Portfolio  ========= */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects {
    max-width: 738px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    margin-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-bottom: 0;
    margin-left: -30px;
  }
}

.projects-list__item {
  margin: 15px;
}

.projects-list__overley {
  position: relative;
  overflow: hidden;
}

.projects-list__text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  background-color: var(--portfolio-text-background);
  color: var(--background);
  font-size: 18px;
  line-height: 1.56;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card {
  border-left: 1px solid var(--portfolio-card-border);
  border-right: 1px solid var(--portfolio-card-border);
  border-bottom: 1px solid var(--portfolio-card-border);
}

.card__title {
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
}

.card__text {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text);
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
}

.projects-list__item {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__item:hover, .projects-list__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__link:hover .projects-list__text,
.projects-list__link:focus .projects-list__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* ========== Studio Filters ======================= */
.filters-list {
  background-color: var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .filters-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filters-list__item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
  }
}

.filters-list__item:not(:last-child) {
  margin-right: 8px;
}

.filters-conteiner {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-widht: 1199px) {
  .filters-conteiner {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filters-conteiner {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */