/* .logo {
  margin-left: 15px;
} */

/* ============== about Flex ========== */

/* ========= team  Flex=========== */

/* ======== Studio ================== */

/* ================ social-links ============== */

/* ========== Forms ======= */

/* .footer .container {
  display: flex;
  align-items: baseline;
} */
