/* ---------------email-footer---------------  */
.form {
  display: flex;
  align-items: flex-end;
  margin-left: 93px;
}

.email__label {
  display: block;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;

  color: var(--background);
  margin-bottom: 20px;
  font-size: 14px;
}

.email__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;

  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--email-color);

  &:focus {
    outline: none;
  }
}
