/* ========= logo ========================== */
.logo {
  @media screen and (max-width: 767px) {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  @media screen and(min-width:768px) {
    display: flex;
    margin-top: 26px;
    margin-bottom: 26px;
  }
}

.logo__first,
.logo__second {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.166;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__first {
  color: var(--color-active);
  // margin-right: -4px;
}

.logo__second {
  color: var(--color-logo);
}
