/* ======== Navigation ========================== */

.nav-list,
.nav {
  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
  }
}

.nav-list {
  @media screen and(max-width:767px) {
    display: none;
  }

  @media screen and(min-width:768px) {
    margin-left: 88px;
    margin-right: 84px;
  }

  @media screen and(min-width:1200px) {
    margin-left: 93px;
    margin-right: 0px;
  }
  @media screen and(min-width:768px) {
    &__link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: var(--main-color);
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;

      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @media screen and(min-width:768px) {
    &__item {
      position: relative;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav-list__link--active {
  color: var(--color-active);
  font-weight: bold;
  @media screen and(min-width:768px) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;

      height: 4px;
      background-color: var(--color-active);
      border-radius: 2px;
    }
  }
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--color-active);
}

.nav__button {
  position: absolute;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  top: 10px;
  right: 15px;
  z-index: 10;
}
.nav__menu {
  &:hover,
  &:focus {
    fill: var(--color-active);
  }
}

.nav__cross {
  &:hover,
  &:focus {
    fill: var(--color-active);
  }
}

.nav__button .nav__cross {
  display: none;
}

.nav__button.nav-is-open .nav__cross {
  display: block;
}

.nav__button.nav-is-open .nav__menu {
  display: none;
}

.mobile-menu {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 48px 40px;

  height: 796px;
  background-color: var(--background);

  &.nav-is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .nav__button {
    display: none;
  }
}

// .mob-social {
//   @media screen and(max-width:767px) {
//     display: none;
//   }
// }

.mob-nav {
  margin-bottom: 302px;
}

.mob-nav-list__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);

  &:hover,
  &:focus {
    color: var(--color-active);
  }

  &--active {
    color: var(--color-active);
  }
}

.mob-contacts-list {
  margin-bottom: 64px;

  &__link {
    // font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--color-active);
    display: block;
  }

  &__link--email {
    color: var(--secondary-text);
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    margin-top: 32px;
  }
}

.mob-nav-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--color-active);
  }
}
