/* ============== clients =========== */
.clients-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and(min-width:768px) {
    padding-bottom: 94px;
  }

  &__link {
    @media screen and(max-width:767px) {
      width: 210px;
    }
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-clients);
    border-radius: 4px;
    fill: var(--social-color);

    transition-property: fill border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1200px) {
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients-list__link:hover,
.clients-list__link:focus {
  fill: var(--color-active);
  border: 1px solid var(--color-active);
}

.clients__title {
  text-align: center;
  font-weight: bold;

  @media screen and (max-width: 767px) {
    font-size: 28px;
    line-height: 1.179;
    padding-top: 60px;
  }

  @media screen and(min-width:1200) {
    padding-top: 94px;
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list__item {
  @media screen and(max-width:767px) {
    margin-top: 30px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-child(n + 5) {
      margin-bottom: 60px;
    }
  }

  @media screen and(min-width:768px) {
    width: 100%/3;
  }
}
