/* ======= Footer =============================== */
.address {
  @media screen and(max-width:767px) {
    text-align: center;
  }

  @media screen and(min-width:768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer {
  background-color: var(--background-footer);

  &__conteiner {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
    }
  }
}

.logo__footer {
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;
  margin-top: 0;
}

.logo__first--footer {
  color: var(--color-active);
}

.logo__second--footer,
.address {
  color: var(--background);
}

.address-list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
    width: 231px;
  }

  &__item:not(:last-child) {
    margin-bottom: 4px;
  }

  &__link--contacts,
  &__link--address {
    font-style: normal;
    color: var(--footer-contacts);
    font-size: 14px;
    line-height: 1.71;
  }

  &__link--address {
    color: var(--background);
  }
}

.tablet-foter {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
  }
}
