/* ======= Footer =============================== */
.footer {
  background-color: var(--background-footer);

  &__conteiner {
    display: flex;
    align-items: baseline;
  }
}

.logo__footer {
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;
}

.logo__first--footer {
  color: var(--color-active);
}

.logo__second--footer,
.address {
  color: var(--background);
}

.address-list {
  padding-bottom: 60px;
  width: 231px;

  &__item:not(:last-child) {
    margin-bottom: 4px;
  }

  &__link--contacts,
  &__link--address {
    font-style: normal;
    color: var(--footer-contacts);
    font-size: 14px;
    line-height: 1.71;
  }

  &__link--address {
    color: var(--background);
  }
}
