/* ========== Hero ============ */

.hero {
  background-color: var(--background-hero);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--hero-gradient),
      var(--hero-gradient)
    ),
    url(../images/hero-img.jpg);
  background-position: center;
  background-size: cover;

  &__title {
    padding-top: 118px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;

    @media screen and(max-width:1199px) {
      max-width: 360px;
    }

    @media screen and(min-width:1200px) {
      width: 696px;
      display: block;
      margin-bottom: 30px;
      padding-top: 200px;
      margin-left: auto;
      margin-right: auto;

      font-size: 44px;
      line-height: 1.36;
    }
  }
  @media screen and(min-width:1200px) {
    max-width: 1600px;
  }
}
