/* ======= projects-list Portfolio  ========= */
.projects-list {
  // display: flex;
  // flex-wrap: wrap;

  &__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &__item:nth-child(-n + 6) {
    margin-bottom: 30px;
  }

  &__item:nth-child(n + 7) {
    margin-bottom: 94px;
  }

  &__overley {
    position: relative;
    overflow: hidden;
  }

  &__text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    height: 100%;
    width: 100%;
    padding: 63px 24px;
    background-color: var(--portfolio-text-background);
    color: var(--background);
    font-size: 18px;
    line-height: 1.56;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.card {
  border-left: 1px solid var(--portfolio-card-border);
  border-right: 1px solid var(--portfolio-card-border);
  border-bottom: 1px solid var(--portfolio-card-border);

  &__title {
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
  }

  &__text {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-text);
  }
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
}

.projects-list__item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-list__link:hover .projects-list__text,
.projects-list__link:focus .projects-list__text {
  transform: translateY(0);
}
