/* ========== what-we-do ========= */
.what-we-do {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.what-we-do-list {
  display: flex;

  margin-bottom: 94px;
  position: relative;

  @media screen and (max-width: 1199px) {
    display: none;
  }

  &__img {
    background-color: var(--what-we-do-background);
    height: 100%;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__text {
    display: block;
    position: absolute;
    bottom: 0;
    padding-bottom: 27px;
    padding-top: 27px;
    margin: 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background);
    background-color: var(--what-we-do-background);
    width: 370px;
  }
}

.what-we-do__title {
  padding-bottom: 50px;
  padding-top: 94px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
